.footer-container {
    padding: 30px 10vw;
    display: flex;
    background-color: rgb(48, 48, 48);
    justify-content: center
}

.footer-logo-container {
    padding-right: 50px;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}

.footer-text-container {
    width: 600px;
    color: rgb(185, 185, 185);
    font-size: 1.5vh;
    font-weight: 300;
    line-height: 2vh;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.logo-style {
    padding: 0 15px 25px 0;
}

@media (max-width: 375px) {

.footer-container {
    padding: 30px 5vw;
    display: flex;
    background-color: rgb(48, 48, 48);
    justify-content: center;
    flex-direction: column-reverse;
}

.footer-text-container {
    width: 600px;
    color: rgb(185, 185, 185);
    font-size: 1.5vh;
    font-weight: 300;
    line-height: 2vh;
    align-self: unset;
    width: 100%;
}
.footer-logo-container {
    padding-top: 20px;
    padding-right: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.footer-logo-container > div{
    padding-bottom: 0 0 0 0;
}
.logo-style {
    padding: 0;
}

}