.gallery-wrapper {
    padding: 50px 10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    align-content: stretch;
}
.gallery-image {
    background-color: black;
    width: 35vw;
    height: 23vw;
    flex-grow: 1;
    cursor: pointer;
}

.gallery-wrapper>div:first-child {
    flex: 1 1 auto;
    margin: 0 10px 5px 0;
}

.gallery-wrapper>div:last-child {
    flex: 1 1 auto;
    margin: 5px 0 0 10px;
}

.image {
    opacity: 0.7;
    object-fit: cover;
    width: 100%;
    height: 23vw;
    transition: .5s ease;
}

.gallery-image:hover .image {
    opacity: 1;
}

.gallery-image:hover .middle {
    text-shadow: 0px 1px 3px black;
}

.middle {
    position: relative;
    top: -70%;
    text-align: center;
}

.text {
    color: white;
    font-size: 2.3vw;
    font-weight: 900;
    transition: .5s ease;
}

.const-text {
    color: white;
    font-size: 0.8vw;
    line-height: 3vw;
    font-weight: 300;
    letter-spacing: 2px;
    transition: .5s ease;
}