.modal {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    
    .modal-main {
        position: fixed;
        background: white;
        width: 80%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.display-block {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 100ms ease-in;
}

.display-none {
    opacity: 0;
    pointer-events: none;
    transition: opacity 100ms ease-in;
}

.close-btn{
    background: url('../assets/close.svg') no-repeat scroll right center;
    background-size: 4vh;
    color:white;
    text-align: right;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}

.module-image {
    width: 80%;
    display: block;
    margin: auto;
}