a {
	color: #bd991a;
}

.glr_slide {
	display: inline-block;
	height: 97%;
	width: 100%;
}

.slide-caption {
	color: grey;
	bottom: -10px;
	position: fixed;
}

@media (max-width: 414px) {
	.glr_slider {
		width: 100vw;
		height: 66vw;
	}
	.slide-caption {
		color: grey;
		bottom: -10px;
		position: fixed;
		padding-left: 10px;
		font-size: 10px;
	}
}
