body {
  margin: 0px;
}

.App {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: #000;
  overflow: hidden;
  position: relative;
  display: flex;
}

.swiper {
  display: flex;
  overflow-x: visible;
  transition-property: transform;
  will-change: transform;
  align-items: center;
}

.close-button{
    position: absolute;
    cursor: pointer;
    z-index: 100;
    align-self: flex-end;
    padding: 10px;
}

.close-image {
  width: 3vw;
}

img {
  object-fit: contain;
}

.move {
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
}

.back {
  left: 10px;
}
.next {
  right: 10px;
}

@media (max-width: 375px) {
  .move {
    display: none;
  }
  .close-image {
    width: 3vh;
}
}